.img
{
    height: 30px;
    /* width: 60px; */
}
.box
{
    height: 100px;
    width: 100px;
    background-color:aqua;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.container-fluid{
    padding: 0 7%;
}
.col-lg-3
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-hn{
    display: none;
}
body{
    background-color: black;
}